<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5ad7b8cc-f332-440d-a6a2-371acb54ada6" name="TestSuite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5ad7b8cc-f332-440d-a6a2-371acb54ada6fileName">TestSuite-2</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
