<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="cec2459e-277d-4641-82c9-b8b871f211d5" name="TestSuite 3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="cec2459e-277d-4641-82c9-b8b871f211d5fileName">TestSuite-3</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
